body {

  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  opacity: 0.95;
}
img{
  margin-top: 0px;
}


ul {background-image: linear-gradient();
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;

}

p {
  text-align: right;
  font-size: 18px;
  align-items: flex-start;
}
h1 {
  width: 100%;
  Color: red;
 font-size: 55px;
 font-style: italic;
 text-align: center;
}



div { text-align: right;

}


a:link {
  color: blue;
}

form {font-size: 1.25em;
font-weight: normal;
display: inline;
margin-bottom: 20px;
font-style: italic;
}

input { border: 2px solid red;}

a:visited {
  color: blue;
}
 #contact-design {
	width:20%;}

  .contact {height: 200px;
     width: 200px;
	 border:5px solid black;
 margin: 50px auto;
border-radius: 150px 150px;
opacity: 1}


li{
  font-size: 36px;
  font-style: italic;

}
