body {
  background-image: linear-gradient( grey, black);
}


form{
  font-size: 1.25em;
  font-weight: bold;
  display: inline;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
}

input { border: 2px solid black;
border-radius: 4px;
background-color: white;
color: black;
margin-bottom: 20px;
height: 25px;
width: 200px;}

  textarea {border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
  height: 100px;
  width: 350px;}

  #contact-design {
   width:20%;}

   .contact > img {height: 400px;
      width: 400px;
    border:5px solid black;
  margin: 50px auto;
  border-radius: 200px 200px;
  opacity: 1;
   transform: rotate(0deg);
  }


 h2 {
   text-align: center;
   font-size: 50px;
   font-style: italic;
   color: white;
 }

nav {background-image: linear-gradient( red, orange);
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;

}

label { color: white;}

a:link {
  color: white;
}


a:visited {
  color: black;
}

li{
  font-size: 36px;
  font-style: italic;
}
li:hover { background-image: linear-gradient(orange,red);
}


h1 {   text-align: center;
   font-size: 50px;
   font-style: italic;}

p { text-align: center;
color:White;}
