body {

  background-image: linear-gradient(50deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  opacity: 0.95;
}
img{
  margin-top: 0px;
}

hr {border: 2px solid black}

ul {background-image: linear-gradient();
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

p {
  text-align: right;
  font-size: 24px;
  align-items: flex-start;

}
h1 {
  width: 100%;
  Color: black;
 font-size: 55px;
 font-style: italic;
}

div { text-align: right;

}


a:link {
  color: blue;
}


a:visited {
  color: blue;
}

li{
  font-size: 36px;
  font-style: italic;

}
#wc{
  column-count: 2;
}

h3 { font-size: 30px;

}

.infobox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.text {
  flex: 1;
  margin: 15px;
}

h2 {text-align: center;
color: black;
font-size: 55px;
}


#contact-design {
 width:100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}

.contact {

}

a {text-align: right;
align-items: flex-start;}

.contact > img {
  height: 200px;
    width: 200px;
  border:5px solid black;
margin: 10px 10px;
border-radius: 200px 200px;
opacity: 1;
flex: 1;
display: inline;
  transform: rotate(0deg);
}

@media only screen and (max-width: 600px) {
  #contact-design {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
